<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logbook.business.user.mapper.LogUserEntityMapper">
  <resultMap id="BaseResultMap" type="com.logbook.business.user.model.LogUserEntity">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="add_ip" jdbcType="VARCHAR" property="addIp" />
    <result column="last_time" jdbcType="INTEGER" property="lastTime" />
    <result column="last_ip" jdbcType="VARCHAR" property="lastIp" />
    <result column="now_money" jdbcType="DECIMAL" property="nowMoney" />
    <result column="integral" jdbcType="DECIMAL" property="integral" />
    <result column="sign_num" jdbcType="INTEGER" property="signNum" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="spread_uid" jdbcType="INTEGER" property="spreadUid" />
    <result column="spread_time" jdbcType="INTEGER" property="spreadTime" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="is_promoter" jdbcType="BIT" property="isPromoter" />
    <result column="pay_count" jdbcType="INTEGER" property="payCount" />
    <result column="spread_count" jdbcType="INTEGER" property="spreadCount" />
    <result column="fans" jdbcType="INTEGER" property="fans" />
    <result column="follow" jdbcType="INTEGER" property="follow" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="birthday" jdbcType="INTEGER" property="birthday" />
    <result column="qq" jdbcType="CHAR" property="qq" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="login_time" jdbcType="INTEGER" property="loginTime" />
    <result column="pos_province" jdbcType="INTEGER" property="posProvince" />
    <result column="pos_city" jdbcType="INTEGER" property="posCity" />
    <result column="pos_district" jdbcType="INTEGER" property="posDistrict" />
    <result column="pos_community" jdbcType="INTEGER" property="posCommunity" />
    <result column="total_sign" jdbcType="INTEGER" property="totalSign" />
    <result column="support_count" jdbcType="INTEGER" property="supportCount" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="forum_count" jdbcType="INTEGER" property="forumCount" />
    <result column="post_count" jdbcType="INTEGER" property="postCount" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="fly" jdbcType="INTEGER" property="fly" />
    <result column="gong" jdbcType="INTEGER" property="gong" />
    <result column="buy" jdbcType="INTEGER" property="buy" />
    <result column="one" jdbcType="INTEGER" property="one" />
    <result column="two" jdbcType="INTEGER" property="two" />
    <result column="three" jdbcType="INTEGER" property="three" />
    <result column="four" jdbcType="INTEGER" property="four" />
    <result column="five" jdbcType="INTEGER" property="five" />
    <result column="is_collect" jdbcType="INTEGER" property="isCollect" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="is_red" jdbcType="INTEGER" property="isRed" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="collect" jdbcType="INTEGER" property="collect" />
    <result column="is_avatar" jdbcType="INTEGER" property="isAvatar" />
    <result column="is_password" jdbcType="INTEGER" property="isPassword" />
    <result column="is_vest" jdbcType="INTEGER" property="isVest" />
    <result column="cate_id" jdbcType="INTEGER" property="cateId" />
    <result column="is_invite" jdbcType="INTEGER" property="isInvite" />
    <result column="bind_im_uid" jdbcType="INTEGER" property="bindImUid" />
    <result column="user_background" jdbcType="VARCHAR" property="userBackground" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, account, pwd, nickname, avatar, phone, email, add_time, add_ip, last_time, last_ip, 
    now_money, integral, sign_num, status, level, spread_uid, spread_time, user_type, 
    is_promoter, pay_count, spread_count, fans, follow, sex, birthday, qq, signature, 
    login_time, pos_province, pos_city, pos_district, pos_community, total_sign, support_count, 
    introduction, forum_count, post_count, exp, fly, gong, buy, one, two, three, four, 
    five, is_collect, icon, is_red, mark, real_name, collect, is_avatar, is_password, 
    is_vest, cate_id, is_invite, bind_im_uid, user_background
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.logbook.business.user.model.LogUserEntity">
    insert into log_user (uid, account, pwd, 
      nickname, avatar, phone, 
      email, add_time, add_ip, 
      last_time, last_ip, now_money, 
      integral, sign_num, status, 
      level, spread_uid, spread_time, 
      user_type, is_promoter, pay_count, 
      spread_count, fans, follow, 
      sex, birthday, qq, signature, 
      login_time, pos_province, pos_city, 
      pos_district, pos_community, total_sign, 
      support_count, introduction, forum_count, 
      post_count, exp, fly, 
      gong, buy, one, two, 
      three, four, five, 
      is_collect, icon, is_red, 
      mark, real_name, collect, 
      is_avatar, is_password, is_vest, 
      cate_id, is_invite, bind_im_uid, 
      user_background)
    values (#{uid,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, 
      #{email,jdbcType=VARCHAR}, #{addTime,jdbcType=INTEGER}, #{addIp,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=INTEGER}, #{lastIp,jdbcType=VARCHAR}, #{nowMoney,jdbcType=DECIMAL}, 
      #{integral,jdbcType=DECIMAL}, #{signNum,jdbcType=INTEGER}, #{status,jdbcType=BIT}, 
      #{level,jdbcType=TINYINT}, #{spreadUid,jdbcType=INTEGER}, #{spreadTime,jdbcType=INTEGER}, 
      #{userType,jdbcType=VARCHAR}, #{isPromoter,jdbcType=BIT}, #{payCount,jdbcType=INTEGER}, 
      #{spreadCount,jdbcType=INTEGER}, #{fans,jdbcType=INTEGER}, #{follow,jdbcType=INTEGER}, 
      #{sex,jdbcType=TINYINT}, #{birthday,jdbcType=INTEGER}, #{qq,jdbcType=CHAR}, #{signature,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=INTEGER}, #{posProvince,jdbcType=INTEGER}, #{posCity,jdbcType=INTEGER}, 
      #{posDistrict,jdbcType=INTEGER}, #{posCommunity,jdbcType=INTEGER}, #{totalSign,jdbcType=INTEGER}, 
      #{supportCount,jdbcType=INTEGER}, #{introduction,jdbcType=VARCHAR}, #{forumCount,jdbcType=INTEGER}, 
      #{postCount,jdbcType=INTEGER}, #{exp,jdbcType=INTEGER}, #{fly,jdbcType=INTEGER}, 
      #{gong,jdbcType=INTEGER}, #{buy,jdbcType=INTEGER}, #{one,jdbcType=INTEGER}, #{two,jdbcType=INTEGER}, 
      #{three,jdbcType=INTEGER}, #{four,jdbcType=INTEGER}, #{five,jdbcType=INTEGER}, 
      #{isCollect,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{isRed,jdbcType=INTEGER}, 
      #{mark,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{collect,jdbcType=INTEGER}, 
      #{isAvatar,jdbcType=INTEGER}, #{isPassword,jdbcType=INTEGER}, #{isVest,jdbcType=INTEGER}, 
      #{cateId,jdbcType=INTEGER}, #{isInvite,jdbcType=INTEGER}, #{bindImUid,jdbcType=INTEGER}, 
      #{userBackground,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.logbook.business.user.model.LogUserEntity">
    insert into log_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="addIp != null">
        add_ip,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="lastIp != null">
        last_ip,
      </if>
      <if test="nowMoney != null">
        now_money,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="signNum != null">
        sign_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="spreadUid != null">
        spread_uid,
      </if>
      <if test="spreadTime != null">
        spread_time,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="isPromoter != null">
        is_promoter,
      </if>
      <if test="payCount != null">
        pay_count,
      </if>
      <if test="spreadCount != null">
        spread_count,
      </if>
      <if test="fans != null">
        fans,
      </if>
      <if test="follow != null">
        follow,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="posProvince != null">
        pos_province,
      </if>
      <if test="posCity != null">
        pos_city,
      </if>
      <if test="posDistrict != null">
        pos_district,
      </if>
      <if test="posCommunity != null">
        pos_community,
      </if>
      <if test="totalSign != null">
        total_sign,
      </if>
      <if test="supportCount != null">
        support_count,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="forumCount != null">
        forum_count,
      </if>
      <if test="postCount != null">
        post_count,
      </if>
      <if test="exp != null">
        exp,
      </if>
      <if test="fly != null">
        fly,
      </if>
      <if test="gong != null">
        gong,
      </if>
      <if test="buy != null">
        buy,
      </if>
      <if test="one != null">
        one,
      </if>
      <if test="two != null">
        two,
      </if>
      <if test="three != null">
        three,
      </if>
      <if test="four != null">
        four,
      </if>
      <if test="five != null">
        five,
      </if>
      <if test="isCollect != null">
        is_collect,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="isRed != null">
        is_red,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="collect != null">
        collect,
      </if>
      <if test="isAvatar != null">
        is_avatar,
      </if>
      <if test="isPassword != null">
        is_password,
      </if>
      <if test="isVest != null">
        is_vest,
      </if>
      <if test="cateId != null">
        cate_id,
      </if>
      <if test="isInvite != null">
        is_invite,
      </if>
      <if test="bindImUid != null">
        bind_im_uid,
      </if>
      <if test="userBackground != null">
        user_background,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="addIp != null">
        #{addIp,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=INTEGER},
      </if>
      <if test="lastIp != null">
        #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="nowMoney != null">
        #{nowMoney,jdbcType=DECIMAL},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DECIMAL},
      </if>
      <if test="signNum != null">
        #{signNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="spreadUid != null">
        #{spreadUid,jdbcType=INTEGER},
      </if>
      <if test="spreadTime != null">
        #{spreadTime,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="isPromoter != null">
        #{isPromoter,jdbcType=BIT},
      </if>
      <if test="payCount != null">
        #{payCount,jdbcType=INTEGER},
      </if>
      <if test="spreadCount != null">
        #{spreadCount,jdbcType=INTEGER},
      </if>
      <if test="fans != null">
        #{fans,jdbcType=INTEGER},
      </if>
      <if test="follow != null">
        #{follow,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=INTEGER},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=CHAR},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=INTEGER},
      </if>
      <if test="posProvince != null">
        #{posProvince,jdbcType=INTEGER},
      </if>
      <if test="posCity != null">
        #{posCity,jdbcType=INTEGER},
      </if>
      <if test="posDistrict != null">
        #{posDistrict,jdbcType=INTEGER},
      </if>
      <if test="posCommunity != null">
        #{posCommunity,jdbcType=INTEGER},
      </if>
      <if test="totalSign != null">
        #{totalSign,jdbcType=INTEGER},
      </if>
      <if test="supportCount != null">
        #{supportCount,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="forumCount != null">
        #{forumCount,jdbcType=INTEGER},
      </if>
      <if test="postCount != null">
        #{postCount,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="fly != null">
        #{fly,jdbcType=INTEGER},
      </if>
      <if test="gong != null">
        #{gong,jdbcType=INTEGER},
      </if>
      <if test="buy != null">
        #{buy,jdbcType=INTEGER},
      </if>
      <if test="one != null">
        #{one,jdbcType=INTEGER},
      </if>
      <if test="two != null">
        #{two,jdbcType=INTEGER},
      </if>
      <if test="three != null">
        #{three,jdbcType=INTEGER},
      </if>
      <if test="four != null">
        #{four,jdbcType=INTEGER},
      </if>
      <if test="five != null">
        #{five,jdbcType=INTEGER},
      </if>
      <if test="isCollect != null">
        #{isCollect,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="isRed != null">
        #{isRed,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="collect != null">
        #{collect,jdbcType=INTEGER},
      </if>
      <if test="isAvatar != null">
        #{isAvatar,jdbcType=INTEGER},
      </if>
      <if test="isPassword != null">
        #{isPassword,jdbcType=INTEGER},
      </if>
      <if test="isVest != null">
        #{isVest,jdbcType=INTEGER},
      </if>
      <if test="cateId != null">
        #{cateId,jdbcType=INTEGER},
      </if>
      <if test="isInvite != null">
        #{isInvite,jdbcType=INTEGER},
      </if>
      <if test="bindImUid != null">
        #{bindImUid,jdbcType=INTEGER},
      </if>
      <if test="userBackground != null">
        #{userBackground,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.logbook.business.user.model.LogUserEntity">
    update log_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="addIp != null">
        add_ip = #{addIp,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=INTEGER},
      </if>
      <if test="lastIp != null">
        last_ip = #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="nowMoney != null">
        now_money = #{nowMoney,jdbcType=DECIMAL},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DECIMAL},
      </if>
      <if test="signNum != null">
        sign_num = #{signNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="spreadUid != null">
        spread_uid = #{spreadUid,jdbcType=INTEGER},
      </if>
      <if test="spreadTime != null">
        spread_time = #{spreadTime,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="isPromoter != null">
        is_promoter = #{isPromoter,jdbcType=BIT},
      </if>
      <if test="payCount != null">
        pay_count = #{payCount,jdbcType=INTEGER},
      </if>
      <if test="spreadCount != null">
        spread_count = #{spreadCount,jdbcType=INTEGER},
      </if>
      <if test="fans != null">
        fans = #{fans,jdbcType=INTEGER},
      </if>
      <if test="follow != null">
        follow = #{follow,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=INTEGER},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=CHAR},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=INTEGER},
      </if>
      <if test="posProvince != null">
        pos_province = #{posProvince,jdbcType=INTEGER},
      </if>
      <if test="posCity != null">
        pos_city = #{posCity,jdbcType=INTEGER},
      </if>
      <if test="posDistrict != null">
        pos_district = #{posDistrict,jdbcType=INTEGER},
      </if>
      <if test="posCommunity != null">
        pos_community = #{posCommunity,jdbcType=INTEGER},
      </if>
      <if test="totalSign != null">
        total_sign = #{totalSign,jdbcType=INTEGER},
      </if>
      <if test="supportCount != null">
        support_count = #{supportCount,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="forumCount != null">
        forum_count = #{forumCount,jdbcType=INTEGER},
      </if>
      <if test="postCount != null">
        post_count = #{postCount,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="fly != null">
        fly = #{fly,jdbcType=INTEGER},
      </if>
      <if test="gong != null">
        gong = #{gong,jdbcType=INTEGER},
      </if>
      <if test="buy != null">
        buy = #{buy,jdbcType=INTEGER},
      </if>
      <if test="one != null">
        one = #{one,jdbcType=INTEGER},
      </if>
      <if test="two != null">
        two = #{two,jdbcType=INTEGER},
      </if>
      <if test="three != null">
        three = #{three,jdbcType=INTEGER},
      </if>
      <if test="four != null">
        four = #{four,jdbcType=INTEGER},
      </if>
      <if test="five != null">
        five = #{five,jdbcType=INTEGER},
      </if>
      <if test="isCollect != null">
        is_collect = #{isCollect,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="isRed != null">
        is_red = #{isRed,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="collect != null">
        collect = #{collect,jdbcType=INTEGER},
      </if>
      <if test="isAvatar != null">
        is_avatar = #{isAvatar,jdbcType=INTEGER},
      </if>
      <if test="isPassword != null">
        is_password = #{isPassword,jdbcType=INTEGER},
      </if>
      <if test="isVest != null">
        is_vest = #{isVest,jdbcType=INTEGER},
      </if>
      <if test="cateId != null">
        cate_id = #{cateId,jdbcType=INTEGER},
      </if>
      <if test="isInvite != null">
        is_invite = #{isInvite,jdbcType=INTEGER},
      </if>
      <if test="bindImUid != null">
        bind_im_uid = #{bindImUid,jdbcType=INTEGER},
      </if>
      <if test="userBackground != null">
        user_background = #{userBackground,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.logbook.business.user.model.LogUserEntity">
    update log_user
    set account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      add_ip = #{addIp,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=INTEGER},
      last_ip = #{lastIp,jdbcType=VARCHAR},
      now_money = #{nowMoney,jdbcType=DECIMAL},
      integral = #{integral,jdbcType=DECIMAL},
      sign_num = #{signNum,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      level = #{level,jdbcType=TINYINT},
      spread_uid = #{spreadUid,jdbcType=INTEGER},
      spread_time = #{spreadTime,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=VARCHAR},
      is_promoter = #{isPromoter,jdbcType=BIT},
      pay_count = #{payCount,jdbcType=INTEGER},
      spread_count = #{spreadCount,jdbcType=INTEGER},
      fans = #{fans,jdbcType=INTEGER},
      follow = #{follow,jdbcType=INTEGER},
      sex = #{sex,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=INTEGER},
      qq = #{qq,jdbcType=CHAR},
      signature = #{signature,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=INTEGER},
      pos_province = #{posProvince,jdbcType=INTEGER},
      pos_city = #{posCity,jdbcType=INTEGER},
      pos_district = #{posDistrict,jdbcType=INTEGER},
      pos_community = #{posCommunity,jdbcType=INTEGER},
      total_sign = #{totalSign,jdbcType=INTEGER},
      support_count = #{supportCount,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR},
      forum_count = #{forumCount,jdbcType=INTEGER},
      post_count = #{postCount,jdbcType=INTEGER},
      exp = #{exp,jdbcType=INTEGER},
      fly = #{fly,jdbcType=INTEGER},
      gong = #{gong,jdbcType=INTEGER},
      buy = #{buy,jdbcType=INTEGER},
      one = #{one,jdbcType=INTEGER},
      two = #{two,jdbcType=INTEGER},
      three = #{three,jdbcType=INTEGER},
      four = #{four,jdbcType=INTEGER},
      five = #{five,jdbcType=INTEGER},
      is_collect = #{isCollect,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      is_red = #{isRed,jdbcType=INTEGER},
      mark = #{mark,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      collect = #{collect,jdbcType=INTEGER},
      is_avatar = #{isAvatar,jdbcType=INTEGER},
      is_password = #{isPassword,jdbcType=INTEGER},
      is_vest = #{isVest,jdbcType=INTEGER},
      cate_id = #{cateId,jdbcType=INTEGER},
      is_invite = #{isInvite,jdbcType=INTEGER},
      bind_im_uid = #{bindImUid,jdbcType=INTEGER},
      user_background = #{userBackground,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>